.content-header {
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 15px 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    background-color: #D6EBFA !important;
    text-align: center;
}

.content-header h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.sidebar-menu > li {
    border-bottom: 1px solid #fff;
}

.panel {
    border-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #FFF !important;
    border: 1px solid #286db5;
    background: #00a0e3;
    border-radius: 8px;
}

.nav-tabs > li {
    width: 24% !important;
    margin: 2px 0 0 8px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
}

.nav-tabs > li {
    float: left;
    width: 24% !important;
    margin: 3px 5px;
    border: none;
    background: #e8e7e7;
    text-align: center;
}

label {
    display: inherit;
    text-align: right;
}

.star-required {
    color: red;
    position: absolute;
}

.Branch {
    width: 100%;
    float: left;
    margin: 0 0 12px 0;
    text-align: center;
    background: #fff2b3;
    border: 2px solid #103b68;
    padding: 4px 0;
}

.Branch h1 {
    padding: 0px;
    margin: 0px 0 0 0;
    color: #103b68;
    font-size: 22px;
}

.form-control {
    border: 1px solid #1685cc;
    border-radius: 2px;
}

.form-control:focus {
    border: 2px solid #1685cc;
}

.panel-group {
    width: 100%;
    display: inline-block;
}

footer {
    width: 100%;
    margin: auto;
    display: inline-block;
    background: #006eb0;
    position: relative;
    z-index: 9999;
    border-top: 10px solid #a3dff3;
}

.hide1 {
    display: none;
}

.btn_new_save {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    padding: 8px 0;
    background: linear-gradient(-180deg, #a3dff3, #286db5);
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #286db5;
    border-left: 1px solid #286db5;
    border-right: 1px solid #286db5;
    border-bottom: 2px solid #286db5;
}

.btn_new_save:hover, .btn_new_save:focus {
    color: #FFF;
    background: linear-gradient(0deg, #a3dff3, #286db5);
}

.btn_new_cancel {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    padding: 8px 0;
    background: linear-gradient(-180deg, #e78585, #b38e08);
    margin-bottom: 20px;
    text-align: center;
    border-top: 1px solid #545454;
    border-left: 1px solid #545454;
    border-right: 1px solid #545454;
    border-bottom: 2px solid #545454;
}

.btn_new_cancel:hover, .btn_new_cancel:focus {
    color: #FFF;
    background: linear-gradient(180deg, #b38e08, #e78585);
}

.form-group {
    margin-bottom: 10px;
}

.dataTables_filter label {
    text-align: left;
}

footer p {
    text-align: center;
    margin-top: 20px;
    color: #fff !important;
    font-size: 16px;
}

footer p a {
    background: #fff;
    font-size: 17px;
    color: #585858;
    padding: 5px 11px;
    font-size: 17px;
    border-radius: 20px;
}

.card-footer {
    width: 100%;
    display: inline-block;
    margin-top: 1px;
    margin-left: 8px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fbfec9;
    border-color: #ddd;
}

.field-icon {
    float: right;
    margin-left: 0;
    right: 24px;
    margin-top: 9px;
    position: absolute;
    z-index: 2;
}

.box-header > .box-tools {
    position: relative;
    right: 10px;
    top: 5px;
}

.dt-buttons {
    float: right;
    margin-bottom: 5px;
}

.buttons-html5, .buttons-print {
    background: #286db5;
    border: #3f9fcb 2px solid;
    color: #fff;
    padding: 6px 15px;
    font-size: 16px;
}

.skin-blue .main-header .navbar {
    background-color: #0a94ec;
}

.btn-primary {
    background-color: #0f9cf6;
    border-color: #1685cc;
}

.btn-primary:hover {
    background-color: #30b3ff;
    border-color: #1685cc;
}

.skin-blue .sidebar-menu .treeview-menu > li.active > a, .skin-blue .sidebar-menu .treeview-menu > li > a:hover {
    background: #077fd4;
}

.nav-tabs {
    border-bottom: transparent;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    border-radius: 4px;
}

.panel-primary > .panel-heading {
    background-color: transparent;
    border-color: transparent;
}

.table-bordered {
    background: #0a94ec2b;
}