/*
 * Skin: Yellow
 * ------------
 */
.skin-yellow .main-header .navbar {
    background-color: #f39c12;
}

.skin-yellow .main-header .navbar .nav > li > a {
    color: #ffffff;
}

.skin-yellow .main-header .navbar .nav > li > a:hover,
.skin-yellow .main-header .navbar .nav > li > a:active,
.skin-yellow .main-header .navbar .nav > li > a:focus,
.skin-yellow .main-header .navbar .nav .open > a,
.skin-yellow .main-header .navbar .nav .open > a:hover,
.skin-yellow .main-header .navbar .nav .open > a:focus,
.skin-yellow .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}

.skin-yellow .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}

.skin-yellow .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}

.skin-yellow .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-yellow .main-header .navbar .sidebar-toggle:hover {
    background-color: #e08e0b;
}

@media (max-width: 767px) {
    .skin-yellow .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .skin-yellow .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

    .skin-yellow .main-header .navbar .dropdown-menu li a:hover {
        background: #e08e0b;
    }
}

.skin-yellow .main-header .logo {
    background-color: #e08e0b;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-yellow .main-header .logo:hover {
    background-color: #db8b0b;
}

.skin-yellow .main-header li.user-header {
    background-color: #f39c12;
}

.skin-yellow .content-header {
    background: transparent;
}

.skin-yellow .wrapper,
.skin-yellow .main-sidebar,
.skin-yellow .left-side {
    background-color: #222d32;
}

.skin-yellow .user-panel > .info,
.skin-yellow .user-panel > .info > a {
    color: #fff;
}

.skin-yellow .sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226;
}

.skin-yellow .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}

.skin-yellow .sidebar-menu > li:hover > a,
.skin-yellow .sidebar-menu > li.active > a {
    color: #ffffff;
    background: #1e282c;
    border-left-color: #f39c12;
}

.skin-yellow .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}

.skin-yellow .sidebar a {
    color: #b8c7ce;
}

.skin-yellow .sidebar a:hover {
    text-decoration: none;
}

.skin-yellow .treeview-menu > li > a {
    color: #8aa4af;
}

.skin-yellow .treeview-menu > li.active > a,
.skin-yellow .treeview-menu > li > a:hover {
    color: #ffffff;
}

.skin-yellow .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}

.skin-yellow .sidebar-form input[type="text"],
.skin-yellow .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}

.skin-yellow .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}

.skin-yellow .sidebar-form input[type="text"]:focus,
.skin-yellow .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666;
}

.skin-yellow .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}

.skin-yellow .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}