/**
  * Name: iseo
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/
@import url("owl.carousel.css");
@import url("flexslider.css");
@import url("font-awesome.css");
@import url("ionicons.css");
@import url("shortcodes.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/**
  *	Reset
  *	Repeatable Patterns
  *	Top
*/

/* Reset
-------------------------------------------------------------- */
html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

figure {
    margin: 0;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

legend {
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
}

input,
textarea {
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)); /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
    border: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 14px/24px "Poppins", sans-serif;
    background-color: #fff;
    color: #666666;
}

a,
.imagebox-image:after {
    text-decoration: none;
    color: #333333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: #01b5fb;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul, ol {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

b, strong {
    font-weight: 900;
}

button {
    border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    color: #fff;
    padding: 0px 29px 0 30px;
    /*height: 45px;*/
    line-height: 42px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    /*background: #01b5fb;
    border: 1px solid #01b5fb;*/
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 3px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
}

button.search-submit-form {
    position: absolute;
    right: 2px;
    top: 7px;
    padding: 0px 10px;
    color: #999999;
    background-color: transparent;
    display: inline-block;
    height: 29px;
    line-height: 31px;
    font-size: 12px;
    border-color: transparent;
    border-left: 1px solid #d0d0d0;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="email"] {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 8px 15px;
    color: #222222;
    border: 1px solid #d0d0d0;
    height: 45px;
    /*background-color: #d8e7ef;*/
    border-radius: 3px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fsc-wwd-right-div {
    background: url(../images/world-map.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-animation: 100s scroll infinite linear;
    -moz-animation: 100s scroll infinite linear;
    -o-animation: 100s scroll infinite linear;
    -ms-animation: 100s scroll infinite linear;
    animation: 100s scroll infinite linear;
}

input[type="search"] {
    width: 250px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #ffffff;
}

input[type="email"] {
    padding: 8px 16px;
    color: #555555;
    border: 1px solid #2e363a;
    height: 47px;
    margin-bottom: 19px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border: 1px solid #01b5fb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    width: 100%;
    padding: 10px 15px;
    height: 170px;
}

input[type="checkbox"] {
    display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
    color: #555;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #555;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #555;
    opacity: 1;
}

/* bootstrap resetting elements */

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    -webkit-appearance: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    color: #000;
}

.blog-single .entry p {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 35px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-size: 14px;
    line-height: 14px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

/* flat botton
-------------------------------------------------------------- */
.flat-button {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 12px;
    padding: 0 44px;
    font-weight: 600;
    border: 2px solid transparent;
    letter-spacing: 1.7px;
    line-height: 45px;
    background-color: #394348;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.flat-button:hover {
    background-color: #01b5fb;
    color: #fff;
}

.wrap-button.s1 {
    text-align: center;
    margin-top: 55px;
    padding-right: 3px;
}

.wrap-button.s2 {
    margin-top: 0;
    padding-right: 0;
}

.wrap-button.s2 .flat-button {
    position: relative;
    display: inline-block;
    margin-top: 26px;
    font-size: 13px;
    color: #fff;
    padding: 7px 32px 7px 18px;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #01b5fb;
    line-height: normal;
    letter-spacing: 0;
}

.wrap-button.s2 .flat-button:after {
    content: "\f054";
    font-family: "FontAwesome";
    position: absolute;
    right: 13px;
    top: 11px;
    font-weight: normal;
    font-size: 12px;
}

.wrap-button.s2 .flat-button:hover {
    background-color: #2e363a;
}


/* Blog Single
-------------------------------------------------------------- */

/* Top
-------------------------------------------------------------- */
.top {
    background-color: #103b68;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 0;
}

.flat-infomation {
    float: left;
    line-height: 25px;
}

.flat-infomation li {
    display: inline-block;
    position: relative;
}

.p-0 {
    padding: 0px;
}

.flat-infomation li a,
.flat-questions a {
    color: #ffffff;
}

.flat-infomation li a:hover,
.flat-questions a:hover {
    color: #01b5fb;
}


.flat-infomation li.phone {
    padding: 0 15px 0 17px;
    border-right: 1px solid #617588;
    font-weight: 400;
    line-height: 1.3;
}

.flat-infomation li.reg {
    padding: 0 15px 0 17px;
    border-right: 1px solid #617588;
    font-weight: 400;
    line-height: 1.3;
}

.flat-infomation li:before,
.flat-questions a.questions:before {
    content: "\f095";
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'FontAwesome';
}

.flat-infomation li.email, .flat-infomation li.reg {
    padding-left: 18px;
    margin-left: 13px;
}

.flat-infomation li.email:before {
    content: "\f0e0";
    left: 0;
}

.flat-infomation li.reg:before {
    content: "\f234";
    left: 0;
}

.flat-questions {
    float: right;
}

.flat-questions a.questions {
    margin-right: 25px;
    position: relative;
    padding-left: 20px;
}

.boxed.blog-single .flat-questions a.questions {
    margin-right: 25px;
}

.boxed.blog .flat-questions a.questions {
    margin-right: 25px;
}

.flat-questions a.questions:before {
    content: "\f059";
    top: -3px;
    left: 0px;
}

.w-100 {
    width: 100%;
}

.flat-questions a.appointment {
    background-color: #01b5fb;
    font-size: 14px;
    padding: 11px 27px 12px 27px;
    font-weight: 600;
    letter-spacing: 0;
}

.flat-questions a.appointment:hover {
    background-color: #2e363a;
    color: #ffffff;
}

.tp-bannertimer {
    display: none;
}

/* boxed
-------------------------------------------------------------- */
.home-boxed .boxed {
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 1px #7f7f7f;
    overflow: hidden;
}

/* Header 
---------------------------------------------------------------*/
.header.fixed-header {
    position: fixed;
    /*left: 0;*/
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    width: auto;
}

.pillar_bg {
    position: fixed;
}

.logo {
    margin: 10px 0px;
}

.tp-kbimg-wrap {
    transform: scaleX(1) !important;
    width: 100% !important;
}

.tp-kbimg {
    width: 100% !important;
    transform: scaleX(1) !important;
    height: inherit !important;
}

header.header.bg-color .container {
    width: 100%;
}

header.header.bg-color.fixed-header .container {
    width: 1236px;
}

/*top search*/
.flat-show-search {
    position: relative;
    float: right;
}

div#banner-slide {
    height: inherit !important;
}

div#banner-container {
    height: 420px !important;
}

.show-search {
    float: right;
    margin-left: 32px;
    position: relative;
}

.tp-bullets {
    display: none;
}

.footer-widgets p {
    text-align: justify;
}

.show-search a {
    position: relative;
    width: 35px;
    height: 35px;
    background: #bfbfbf;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 27px 0 30px;
}

nav#mainnav {
    margin-top: 14px;
}

.tabbed.index_tabs > label:hover .active h4 img, .tabbed.index_tabs > input:checked + label .active h4 img {
    filter: brightness(0.6);
}

.top-search {
    position: absolute;
    right: 0;
    top: 110%;
    width: 250px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.top-search #searchform-all {
    position: relative;
}

.top-search #searchform-all #s {
    margin-bottom: 0;
    height: 45px;
    font-size: 14px;
    color: rgba(21, 65, 110, 0.65);
    background-color: #fff;
}

.top-search #searchform-all #searchsubmit {
    padding: 3px;
    position: absolute;
    right: 12px;
    top: -2px;
    font-family: "FontAwesome";
    color: #01b5fb;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.top-search.show {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    top: 100%;
}

.show-search a i {
    font-size: 14px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.show-search.active .fa-search::before {
    content: "\f00d";
}


/* Main Menu
---------------------------------------------------------------*/
.nav-wrap {
    float: right;
}

#mainnav .menu > li {
    display: inline-block;
    position: relative;
}

#mainnav .menu > li > a {
    line-height: 92px;
    display: inline-block;
    padding: 0 19.5px;
    color: #424242;
    font-weight: 600;
    text-transform: uppercase;
}

#mainnav .menu > li > a:hover {
    color: #01b5fb;
}

#mainnav .menu > li:last-child a {
    padding-right: 0;
}

#mainnav .menu > li a i.fa {
    padding-left: 6px;
}

/* Sub-menu */
#mainnav .menu > li > .sub-menu {
    opacity: 0;
    z-index: 9999;
    position: absolute;
    width: 250px;
    background-color: #1d2738;
    top: 150%;
    left: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav .menu > li:last-child .sub-menu {
    left: auto;
    right: 0;
}

#mainnav .menu > li:hover > .sub-menu {
    opacity: 1;
    z-index: 1;
    top: 92px;
    visibility: visible;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav .menu > li > .sub-menu > li > a {
    display: block;
    padding: 0px 0px 0px 15px;
    line-height: 45px;
    border-bottom: 1px solid #2d374a;
    color: #ffffff;
}

#mainnav .menu > li > .sub-menu > li > a:hover {
    background-color: #01b5fb;
    color: #ffffff;
}

/* Page Title 
---------------------------------------------------------------*/
.page-title {
    padding: 23px 0 22px;
    background-color: #f8f8f8;
}

.page-title .page-title-heading {
    float: left;
}

.page-title .page-title-heading .h1-title {
    color: #2e363a;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.page-title .breadcrumbs {
    float: right;
}

.page-title .breadcrumbs li {
    display: inline-block;
    line-height: 38px;
}

.page-title .breadcrumbs li a {
    color: #01b5fb;
    letter-spacing: -0.2px;
}

.page-title .breadcrumbs li:last-child a {
    color: #a9a9a9;
}

.page-title .breadcrumbs li a:hover {
    color: #a9a9a9;
}

.page-title .breadcrumbs li:last-child a:hover {
    color: #a9a9a9;
}

.page-title .breadcrumbs li a i {
    padding: 0 5px 0 9px;
}

/* Main Content 
---------------------------------------------------------------*/
.main-content {
    margin: 50px 0 39px;
}

.wrap-post {
    margin: 0 -15px;
    overflow: hidden;
}

article.post.s1 {
    margin-bottom: 40px;
    position: relative;
    float: left;
    width: 50%;
    padding: 0 15px;
}

article.post .featured-post ul.post-date {
    position: absolute;
    top: 0;
    left: 45px;
    background-color: #2e363a;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 2px 10px 7px 12px;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article.post .featured-post ul.post-date .day {
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

article.post .content-post {
    padding: 35px 30px 20px 30px;
    position: relative;
    background-color: #effbff;
}

article.post .content-post:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #000000;
    top: 0px;
    left: 0px;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article.post:hover .featured-post ul.post-date {
    background-color: #01b5fb;
}

article.post .content-post h4 {
    margin-bottom: 18px;
    font-weight: bold;
    font-size: 22px;
}

article.post .content-post .more-link {
    margin-top: 19px;
}

article.post .content-post .more-link a {
    background-color: #2e363a;
    border-radius: 3px;
    font-weight: 600;
    display: inline-block;
    line-height: 40px;
    padding: 0 38px 3px;
    letter-spacing: 0;
    color: #ffffff;
}

article.post .content-post .more-link a:hover {
    background-color: #01b5fb;
}

/* Blog Pagination 
---------------------------------------------------------------*/
.blog-single-pagination {
    margin: 12px 0 10px;
}

.flat-pagination li {
    display: inline-block;
    margin-right: 5px;
}

.flat-pagination li a {
    line-height: 20px;
    background-color: #f7f7f7;
    padding: 0 15px;
    display: block;
    line-height: 41px;
    width: 40px;
    text-align: center;
}

.flat-pagination li a:hover,
.flat-pagination li a.active {
    background-color: #01b5fb;
    color: #ffffff;
}

/* Footer 
---------------------------------------------------------------*/
#footer {
    /*background-color: #2e363a;*/
    /*background-color: #465464;*/
    background-color: #4a5c79;
    /*background: url(../images/bg2.jpg) fixed;
    background-size:cover;*/
}

/* Footer Widgets
---------------------------------------------------------------*/

/* Widget-infomation */
.widget-infomation {
    /*border-bottom: 1px solid #394348;*/
    padding: 22px 0 26px;
}

.widget-infomation ul.infomation-footer li {
    display: inline-block;
    margin-top: 10px;
}

.widget-infomation ul.infomation-footer li a {
    color: #e5e5e5;
}

.widget-infomation ul.infomation-footer li a:hover {
    /*color: #01b5fb;*/
}

.widget-infomation ul.infomation-footer li i.fa {
    background-color: #01b5fb;
    color: #ffffff;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
}

/* Widget-box */
.widget-box {
    padding: 0px;
}

.widget-box .widget-text p {
    color: #ffffff;
    margin-bottom: 20px;
}

.widget-box .widget-services .one-half {
    /*width: 50%;*/
    float: left;
    margin-top: 2px;
}

.widget-box .widget-services .one-half.first {
    padding-left: 45px;
    margin-top: 1px;
    display: flex;
    width: 100%;
}

.toggle-content {
    border: 1px solid #c4c4c4;
    padding: 15px 21px 12px 21px;
}

.inquiry-title {
    cursor: pointer;
    color: #fff;
    background: #3a526a;
    padding: 14px 20px;
    position: relative;
    font-weight: 500;
    font-size: 19px;
    border-radius: 0;
    letter-spacing: 0.2px;
}

label.col-md-3, label.col-md-4 {
    text-align: right;
    padding-top: 8px;
}

.inquiry-title p {
    font-weight: 300;
    font-size: 16px;
}

.service-title {
    color: #fff;
    background: #3a526a;
    padding: 14px 20px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    border-radius: 0;
    letter-spacing: 0.2px;
}

.widget-box .widget-services .one-half li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 11px;
    color: #ffffff;
    width: inherit;
}

footer hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.widget-box .widget-services .one-half li:before {
    content: "\f0da";
    font-family: 'FontAwesome';
    position: absolute;
    top: 54%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.widget-box .widget-services .one-half li a {
    color: #e5e5e5;
}

.widget-box .widget-services .one-half li a:hover {
    /*color: #01b5fb;*/
}

/* Widget-subscribe */
.widget-subscribe form label {
    color: #ffffff;
    margin-bottom: 9px;
}

ul.one-half.second {
    padding-left: 50px;
}

#subscribe-email {
    width: 352px;
    border-radius: 0;
}

.services-grid-3 {
    padding: 30px 20px;
    transition: all 0.3s ease 0s;
    o-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    background-color: #f4f7fa;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 6px -7px rgb(0 0 0 / 70%);
}

.services-grid-3::after {
    border-bottom: 50px solid #eee;
    border-right: 50px solid #FFF;
    box-shadow: 0 6px 6px -7px rgb(0 0 0 / 70%);
    content: "";
    height: 0;
    left: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: 9;
}

.widget-subscribe form .button-subscribe:hover {
    background-color: #2e363a;
    border-color: #2e363a
}

.widget-subscribe button {
    letter-spacing: 0;
}

.notification_error {
    padding-top: 10px;
    color: #01b5fb;
}

.notification_ok {
    text-align: center;
    color: #01b5fb;
}

/* Footer Bottom
---------------------------------------------------------------*/
.footer-bottom {
    border-top: 10px solid #002f4d;
    padding: 0;
    background: #e4e1e1;
}

.footer-bottom .copyright {
    /*float: left;*/
    color: #000000;
    padding: 15px 0px;
    position: absolute;
    width: 100%;
}

.footer-bottom .copyright a,
.footer-bottom .menu-footer li a {
    color: #e5e5e5;
}

.footer-bottom .copyright a:hover,
.footer-bottom .menu-footer li a:hover {
    color: #01b5fb;
}

.copyright p {
    text-align: center;
}

.footer-bottom .menu-footer {
    float: right;
}

.footer-bottom .menu-footer li {
    display: inline-block;
    margin-left: 28px;
}

/* BLog
-------------------------------------------------------------- */

/* Main Content */

/* Main Post */
article.main-post {
    padding: 29px 0;
    /*border-bottom: 1px solid #eff0f4;
    margin-bottom: 21px;*/
}

article.main-post:first-child {
    padding: 0px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-5 {
    margin-right: 5px;
}

/* Entry Post Title */
.entry-post-title .post-title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px;
    letter-spacing: 0;
}

.entry-content {
    padding-left: 50px;
}

.entry-post-title ul.entry-meta li {
    display: inline-block;
    padding-left: 27px;
    padding-right: 10px;
    border-right: 1px solid #eff0f4;
    line-height: 1;
    position: relative;
    margin-left: 13px;
}

.entry-post-title ul.entry-meta li:first-child {
    margin-left: 0;
}

.entry-post-title ul.entry-meta li:last-child {
    border-right: none;
}

.entry-post-title ul.entry-meta li:before {
    content: "\f017";
    font-family: "Fontawesome";
    position: absolute;
    top: -1px;
    left: 3px;
    font-size: 15px;
    color: #888;
}

.entry-post-title ul.entry-meta {
    margin-bottom: 33px;
}

.entry-post-title ul.entry-meta li.date:before {
    left: 2px;
}

.entry-post-title ul.entry-meta li.author:before {
    content: "\f007";
}

.entry-post-title ul.entry-meta li.categories:before {
    content: "\f115";
}

.entry-post-title ul.entry-meta li.comment:before {
    content: "\f0e6";
}

.entry-post-title ul.entry-meta li a {
    color: #888;
}

.entry-post-title ul.entry-meta li a:hover {
    color: #01b5fb;
}

/* Featured Post */
article.main-post .featured-post {
    margin-bottom: 30px;
}

/* Entry Content */
article.main-post .entry-content a.more-link {
    background-color: #01b5fb;
    color: #ffffff;
    line-height: 45px;
    padding: 0 37px 0 19px;
    display: inline-block;
    border-radius: 2px;
    margin: 25px 0 20px;
    position: relative;
    font-weight: 600;
    font-size: 14px;
}

article.main-post .entry-content a.more-link:before {
    content: "\f054";
    font-family: 'FontAwesome';
    position: absolute;
    top: 49%;
    right: 14%;
    font-size: 13px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article.main-post .entry-content a.more-link:hover:before {
    right: 10%;
}

article.main-post .entry-content a.more-link:hover {
    background-color: #3a526c;
}

/* Blog Pagination */
.blog-pagination {
    margin: 50px 0 10px;
}

/* Side Bar Blog
-------------------------------------------------------------- */
.sidebar.right {
    padding-left: 30px;
}

.sidebar .widget {
    margin-bottom: 50px;
    overflow: hidden;
}

/* Widget Title */
.widget .widget-title {
    font-size: 24px;
    padding-bottom: 17px;
    margin-top: 20px;
    margin-bottom: 34px;
    color: #333333;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
}

.widget .widget-title:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #01b5fb;
    bottom: -1px;
    left: 0px;
    border-radius: 2px;
}

/* Widget Recent */
.widget-recent ul li {
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
}

.widget-recent ul li:first-child {
    padding-top: 0;
}

.widget-recent ul li a {
    font-weight: 600;
}

.widget-recent ul li span {
    display: block;
    margin-top: 5px;
    color: #b9c1cf;
}

/* Widget Categories */
.widget-categories ul li {
    padding: 13px 0 12px 16px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.widget-categories ul li:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333333;
    top: 47%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

}

.widget-categories ul li a {
    letter-spacing: 0.3px;
}

/* Widget Brochure */
.widget-brochure {
    padding: 28px 27px 13px 24px;
    border: 1px solid #999999;
}

.widget-brochure .brochure-box-title {
    margin-bottom: 18px;
}

.widget-brochure .brochure-box-title p {
    font-size: 13px;
}

.widget-brochure .brochure-box-title .brochure-title {
    font-size: 18px;
    font-weight: 600;
    color: #222222;
    padding-bottom: 10px;
}

.widget-brochure .btn-download a {
    display: block;
    background-color: #3a526c;
    line-height: 45px;
    padding: 0 19px;
    margin-bottom: 18px;
    border-radius: 4px;
    position: relative;
    color: #ffffff;
    letter-spacing: 0.2px;
}

.widget-brochure .btn-download a:hover {
    background-color: #01b5fb;
}

.widget-brochure .btn-download a:after {
    content: "\f1c1";
    font-family: 'FontAwesome';
    position: absolute;
    top: 1px;
    right: 19px;
}

.widget-brochure .btn-download a.doc:after {
    content: "\f1c2";
}

/* Widget Tag */
.widget-tags .tag-cloud a {
    display: inline-block;
    background-color: #01b5fb;
    border-radius: 4px;
    padding: 7px 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #ffffff;
}

.widget-tags .tag-cloud a:hover {
    background-color: #3a526c;
}

/* sidebar services
-------------------------------------------------------------- */
.sidebar.left .widget {
    margin-bottom: 50px;
    overflow: hidden;
}

.sidebar .widget.widget_nav_menu ul li {
    cursor: pointer;
    display: block;
    padding: 12px 0 11px 25px;
    margin-bottom: 2px;
    color: #222222;
    font-weight: 700;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    background-color: #f1f1f1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 35px;
    letter-spacing: 0.4px;
}

.sidebar .widget.widget_nav_menu ul li.active,
.sidebar .widget.widget_nav_menu ul li:hover {
    background-color: #103b68;
    color: #fff;
}

.sidebar .widget.widget_nav_menu ul li.active a,
.sidebar .widget.widget_nav_menu ul li:hover a {
    color: #fff;
}

.widget-brochure.services {
    padding: 28px 24px 13px 24px;
    border: 1px solid #999999;
}

.widget-brochure.services .brochure-box-title p {
    margin-right: -5px;
}

/* Home Widget Header
-------------------------------------------------------------- */
.header {
    position: relative;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Home Tp-Banner
-------------------------------------------------------------- */
.tp-banner-container .tp-banner img {
    height: 700px;
}

/* Flat Row Image Style1
-------------------------------------------------------------- */
.pd-imagebox {
    padding: 80px 0 80px;
}

.imagebox-image {
    position: relative;
}


/* Iconbox Style1
-------------------------------------------------------------- */

.bg-theme {
    /*background-color: #f7f7f7;*/
}

/* Flat Row Icon */
.flat-iconbox {
    padding: 80px 0 75px;
}

.height80 {
    height: 70px;
}


/* iconbox slider
-------------------------------------------------------------- */
.flat-owl-stage {
    padding: 50px 0 70px;
}

.iconbox-slider .slides {
    margin-top: 15px;
}


/* Flat CallBack
-------------------------------------------------------------- */
.flat-callback {
    padding: 120px 0;
    background: url(../images/bg1.jpg) fixed;
    background-size: cover;

}

/* Text Block Callback */
.text-block-callback {
    text-align: center;
}

.text-block-callback h2 {
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 27px;
    font-weight: 600;
}

.footer-widgets {
    padding: 60px 0px 0px;
}

.text-block-callback .text-callback-content {
    color: #ffffff;
}

/* Flat Call Back Form */
.flat-callback-form {
    /*padding-left: 30px;*/
    padding: 0px 120px;
    text-align: justify;
}

.flat-callback-form .flat-field {
    margin: 0 -10px;
    padding-right: 75px;
}

.flat-callback-form h3 {
    color: #ffffff;
}

.mkdf-bottom-wavy-effect {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(99%);
    -moz-transform: translateY(99%);
    transform: translateY(99%);
    filter: invert(1);
}

.mkdf-has-wavy-effect {
    z-index: 100;
    position: relative;
}

.mkdf-top-wavy-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotate(
            -180deg
    ) translateY(99%);
    -moz-transform: rotate(-180deg) translateY(99%);
    transform: rotate(
            -180deg
    ) translateY(99%);
    filter: invert(1);
}

.flat-callback-form .flat-field .field-one-half {
    width: 50%;
    padding: 0 10px;
    float: left;
    position: relative;
}

.fa-file-pdf-o {
    color: #ff0000;
    margin-right: 5px;
}

.flat-toggle a {
    color: #000000;
}

.flat-toggle .link a {
    color: #01b5fb;
}

.flat-toggle .download a {
    color: #01b5fb;
    padding-right: 30px;
}

.flat-callback-form .flat-field .field-one-half label.error {
    position: absolute;
    right: 20px;
    top: 13px;
    color: #01b5fb;
}

.flat-callback-form .flat-field .field-one-half.field-email label.error {
    top: 48px;
}

.flat-callback-form .flat-field .field-one-half.field-email {
    margin-right: 0;
}

.flat-callback-form .flat-field .field-one-half label {
    color: #cccccc;
    margin-bottom: 10px;
}

.flat-callback-form .flat-field .field-one-half select {
    padding: 14px;
}

.flat-callback-form .flat-field .field-one-half select,
.flat-callback-form .flat-field .field-email input,
.flat-callback-form .flat-field .field-phone input {
    height: 50px;
    margin-bottom: 30px;
}

.flat-callback-form .flat-field .field-email input {
    margin-top: 35px;
    border-radius: 4px;
}

.flat-callback-form .flat-field .field-submit button.button-submit-field {
    text-transform: capitalize;
    padding: 0 30px;
    height: 50px;
}

.flat-callback-form .flat-field .field-submit button.button-submit-field:hover {
    background-color: #2e363a;
    border-color: #2e363a;
}

.flat-callback-form select {
    background-image: url(../images/icon-arrow-select.png);
    background-position: 96% 49%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #555;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #555;
    opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #555;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #555;
    opacity: 1;
}

.flat-form-info input:-moz-placeholder,
.flat-form-info textarea:-moz-placeholder,
.flat-form-info input::-moz-placeholder,
.flat-form-info textarea::-moz-placeholder {
    color: #c1c1c1;
    opacity: 1;
}

.flat-form-info input:-ms-input-placeholder,
.flat-form-info textarea:-ms-input-placeholder {
    color: #c1c1c1;
}

.flat-form-info input::-webkit-input-placeholder,
.flat-form-info textarea::-webkit-input-placeholder {
    color: #c1c1c1;
    opacity: 1;
}

/* Map */
.map {
    width: 100%;
    height: 454px;
}

/* carousel */
.flat-carousel .owl-controls .owl-nav div.owl-prev {
    left: -85px;
    background-color: transparent;
}

.flat-carousel .owl-controls .owl-nav div.owl-next {
    right: -85px;
    background-color: transparent;
}

.flat-carousel .owl-controls .owl-nav div.owl-prev:before,
.flat-carousel .owl-controls .owl-nav div.owl-next:before {
    font-family: "Ionicons";
    font-size: 30px;
    color: #ccc;
}

.flat-carousel .owl-controls .owl-nav div.owl-prev:before {
    content: "\f3d2";
}

.flat-carousel .owl-controls .owl-nav div.owl-next:before {
    content: "\f3d3";
}

/* progress
-------------------------------------------------------------- */
.flat-progress {
    position: relative;
    margin-bottom: 30px;
}

.flat-progress .name {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    font-weight: 700;
}

.flat-progress .progress-bar {
    background-color: #f5f5f5;
    height: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.flat-progress .perc {
    width: 0;
    text-align: right;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.flat-progress .perc.show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.flat-progress .progress-animate {
    background-color: #01b5fb;
    height: 10px;
    width: 0;
    border-radius: 5px;
}

/* Flat News
-------------------------------------------------------------- */
.flat-news {
    padding: 50px 0 49px;
}

.flat-news-s2 {
    padding: 45px 0 113px;
}

.flat-news.s3 {
    padding: 3px 0 50px;
}

.flat-news .title-section h2 {
    margin-bottom: 56px;
}

.flat-news.s3 .title-section h2 {
    margin-bottom: 40px;
}

article.post.style2 .featured-post,
article.post.style3 .featured-post,
.news-small .news-small-image {
    position: relative;
}

article.post.style2 .featured-post:before,
article.post.style3 .featured-post:before,
.news-small .news-small-image:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 30px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    z-index: 999;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

article.post.style2 .featured-post:after,
article.post.style3 .featured-post:after,
.news-small .news-small-image:after {
    content: '';
    position: absolute;
    height: 30px;
    width: 1px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    z-index: 999;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

article.post.style2:hover .featured-post:after,
article.post.style2:hover .featured-post:before,
article.post.style3:hover .featured-post:after,
article.post.style3:hover .featured-post:before,
.news-small:hover .news-small-image:before,
.news-small:hover .news-small-image:after {
    opacity: 1;
}

article.post.style2 .featured-post a.post-image,
.news-small .news-small-image a.post-image-small {
    position: relative;
    height: 100%;
    display: block;
}

article.post.style2 .featured-post a.post-image:after,
article.post.style3 .featured-post a:after,
.news-small .news-small-image a.post-image-small:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article.post.style2:hover .featured-post a.post-image:after,
article.post.style3:hover .featured-post a:after,
.news-small:hover .news-small-image a.post-image-small:after {
    opacity: 0.5;
}

article.post.style2 .featured-post ul.post-date {
    left: 29px;
}

/* Widget Recent News */

.widget.widget-recent-news li {
    margin-bottom: 18px;
    padding: 0 0 18px 0;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}

.widget.widget-recent-news li:last-child {
    border-bottom: 0;
}

.widget.widget-recent-news .thumb {
    display: inline-block;
    float: left;
    margin-right: 20px;
    position: relative;
}

.widget.widget-recent-news .thumb a {
    position: relative;
    display: block;
    background: #000000;
}

.widget.widget-recent-news .thumb a:after,
.widget.widget-recent-news .thumb a:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background: #fff;
    top: 50%;
    left: 50%;
    z-index: 9999;
    margin-top: -15px;
    margin-left: -1px;
    visibility: hidden;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.widget.widget-recent-news .thumb a:before {
    height: 1px;
    width: 30px;
    margin-top: -1px;
    margin-left: -15px;
}

.widget.widget-recent-news li:hover a:before,
.widget.widget-recent-news li:hover a:after {
    visibility: visible;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
}

.widget.widget-recent-news .thumb a img {
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.widget.widget-recent-news li:hover img {
    -webkit-opacity: 0.4;
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    filter: alpha(opacity=40);
}

.widget.widget-recent-news li .text h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 3px;
}

.widget.widget-recent-news li .text p {
    margin-bottom: 0;
    font-size: 13px;
    color: #b9c1cf;
}


/* Flat Client
-------------------------------------------------------------- */
.flat-client {
    padding: 61px 0 70px;
}

.flat-client ul li:first-child {
    margin-left: 20px;
}

.flat-client ul li:last-child {
    margin-right: 0;
}

.flat-client ul li {
    display: inline-block;
    margin: 0 33px;
}

/* Top Style2
-------------------------------------------------------------- */
.top.style2 {
    background-color: #ffffff;
    padding: 0;
    color: #333333;
}

.top.style2 .logo {
    margin-top: 9px;
    line-height: 126px;
}

.top.style2 .flat-open-hours {
    width: 50%;
    float: left;
}

.top.style2 .flat-open-hours,
.top.style2 .flat-address {
    margin-top: 46px;
}

.top.style2 .flat-open-hours .icon,
.top.style2 .flat-address .icon {
    float: left;
    margin-right: 13px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border: 2px solid #333333;
    border-radius: 50%;
    font-size: 21px;
}

.top.style2 .flat-open-hours .text,
.top.style2 .flat-address .text {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.top.style2 .flat-open-hours .text span,
.top.style2 .flat-address .text span {
    font-size: 12px;
    font-weight: normal;
    color: #535353;
}

/* Top Style2 v2
-------------------------------------------------------------- */
.top.style2.v1 .logo {
    margin-top: 0;
    line-height: 0;
}

.top.style2.v1 .flat-open-hours,
.top.style2.v1 .flat-address {
    margin-top: 0;
}

.top.style2.v1 {
    padding: 30px 0 60px;
}


/* Header Style2
-------------------------------------------------------------- */
.head_nav.fix {
    left: 0;
    max-width: 100%;
    overflow: visible;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header.style2 {
    background-color: #103b68;
}

.header.style2 .nav-wrap {
    float: left;
    color: #ffffff;
}

.header.style2 #mainnav .menu > li > a {
    color: #ffffff;
    line-height: 65px;
}

.header.style2 #mainnav .menu > li > a:hover {
    color: #2e363a;
}

.header.style2 #mainnav .menu > li:hover > .sub-menu {
    top: 65px;
}

.header.style2 .show-search {
    float: right;
    width: auto;
    margin-left: 0;
}

.header.style2 .show-search a {
    margin: 15px 0;
    background-color: transparent;
}

.header.style2 .show-search a i {
    font-size: 16px;
    position: relative;
    top: 2px;
}

/* Header Style2 v1
-------------------------------------------------------------- */
.header.style2.v1 {
    background-color: transparent;
}

.header.style2.v1 .flat-header-wrap {
    background-color: #103b68;
}

.header.style2.v1 .flat-header-wrap {
    position: absolute;
    padding: 0 40px;
    bottom: -32px;
    margin-bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
    background-color: #103b68;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header.style2.v1.fixed-header {
    box-shadow: none;
}

.header.style2.v1 .show-search a {
    margin: 12.5px 0;
}

.header.style2.v1 #mainnav .menu > li > a {
    line-height: 59px;
}

.header.style2.v1.fixed-header .flat-header-wrap {
    bottom: -59px;
}

/* Header Style3
-------------------------------------------------------------- */
.header.style3 {
    position: absolute;
    left: 0;
    top: auto;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
}

.header.style3.fixed-header {
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header.style3 .show-search a {
    background-color: transparent;
}

.header.style3 #mainnav > ul > li > a,
.header.style3 .show-search a i {
    color: #fff;
}

.header.style3.fixed-header #mainnav > ul > li > a,
.header.style3.fixed-header .show-search a i {
    color: #2d2d2d;
}


/* Flat Counter
-------------------------------------------------------------- */
.flat-counter {
    padding: 95px 0 100px;
    position: relative;
}

.flat-counter .container {
    z-index: 99;
    position: relative;
}

/* Counter */
.counter {
    text-align: center;
    color: #ffffff;
    z-index: 10;
}

.counter .counter-content {
    margin-bottom: 9px;
}

.counter .counter-content .counter-number {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
}

.counter .name {
    font-weight: 600;
}

.flat-counter .overlay {
    position: absolute;
    content: '';
    background-color: #333333;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: 1;
}

/* Progress Bar */
.progress-item {
    position: relative;
    margin-bottom: 30px;
}

.progress-item .name {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.progress-item .perc {
    font-weight: 400;
    text-align: right
}

.progress-item .progress-animate {
    background-color: #01b5fb;
    height: 10px;
    width: 0;
    border-radius: 5px;
}

.progress-item .progress-bar {
    background-color: #f5f5f5;
    height: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.progress-item .progress-bar {
    background-color: #f7f7f7;
    line-height: 24px;
    font-size: 12px;
}

.progress-item .perc {
    width: 0;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.progress.item .perc.show {
    opacity: 1;
}

/* Flat Progress Accordion
-------------------------------------------------------------- */
.flat-progress-accordion {
    padding: 80px 0;
}

/*Progress
-------------------------------------------------------------- */
.progres, .accordion {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    padding: 60px 30px 50px 31px;
}

.progres .progress-title h2,
.accordion .accordion-title h2 {
    font-size: 32px;
    font-weight: 600;
    color: #222222;
    padding-bottom: 20px;
    margin-bottom: 40px;
    position: relative;
    letter-spacing: 0px;
}

.progres .progress-title h2:after,
.accordion .accordion-title h2:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: #01b5fb;
    bottom: 0;
    left: 0;
}

.progres .progress-content {
    margin-bottom: 43px;
}


/* Article Post Style2
-------------------------------------------------------------- */
article.post.style2 .content-post:after {
    top: 0;
}

article.post.style2 .content-post h4 {
    margin: 0 0 18px;
}

article.post.style2 {
    border: 2px solid #103b68;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article.post.style2:hover .post-date {
    background-color: #01b5fb;
}

article.post.style2:hover {
    margin-top: -3px;
    background-color: #ffffff;
    box-shadow: 0 0 15px #ddd;
}

article.post.style2:hover .content-post {
    background: #fff;
}

/* Flat Block Qoute
-------------------------------------------------------------- */
.flat-block-quote {
    padding: 68px 0;
}

.flat-block-quote-slider {
    border-radius: 5px;
    box-shadow: 0px 26px 16px 0px rgba(0, 0, 0, 0.27);
    background-color: #ffffff;
    filter: Alpha(opacity=90);
    opacity: 0.9;
}

.block-quote {
    text-align: center;
    padding: 60px 45px 105px;
}


.block-quote .quote-content {
    position: relative;
}

.block-quote .quote-content:before {
    content: "\f10d";
    font-family: "Fontawesome";
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 20px;
    color: #ffffff;
    background-color: #01b5fb;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.block-quote .quote-content blockquote {
    padding: 80px 28px 36px 55px;
    font-size: 16px;
    color: #666666;
    line-height: 27px;
}

.block-quote .quote-content .quote-author .author-name {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 3px;
}

.flat-block-quote-slider .flex-control-nav {
    bottom: 46px;
    padding-right: 31px;
}

.flat-block-quote-slider .flex-control-nav li {
    margin: 0 3px;
}

.flat-block-quote-slider .flex-control-paging li a {
    width: 6px;
    height: 6px;
    display: block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.flex-control-paging li a.flex-active {
    top: -2px;
    position: relative;
    width: 10px;
    height: 10px;
    background: #01b5fb;
    cursor: default;
    background: transparent;
    -webkit-box-shadow: inset 0 0 5px rgba(24, 186, 96, 1);
    -moz-box-shadow: inset 0 0 5px rgba(24, 186, 96, 1);
    -o-box-shadow: inset 0 0 5px rgba(24, 186, 96, 1);
    box-shadow: inset 0 0 5px rgba(24, 186, 96, 1);
}

/* Home Layout3
-------------------------------------------------------------- */


/* Flat Benefit
-------------------------------------------------------------- */
.flat-benefit {

    padding: 96px 0px 0;
    position: relative;
}

.flat-benefit:before {
    content: '';
    position: absolute;
    background: #ffffff;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.height24 {
    height: 24px;
}

/* Testimonials
-------------------------------------------------------------- */
.flat-testimonials {
    padding: 73px 0 62px;
}

/* Flat News Layout3 Style3
-------------------------------------------------------------- */
.title-section.style3 h2:after {
    background-color: transparent;
}

.wrap-article {
    margin: 0 -15px;
}

article.post.style3 {
    background-color: transparent;
    width: 50%;
    float: left;
    padding: 0 15px;
}

article.post.style3 .featured-post {
    float: left;
    margin-right: 25px;
    position: relative;
}


article.post.style3 .featured-post ul.post-date {
    left: 30px;
}

article.post.style3 .content-post {
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

article.post.style3 .content-post:after {
    background-color: transparent;
}

article.post.style3 .content-post h4 {
    margin: 0;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;
    letter-spacing: -1px;
}

article.post.style3 .content-post h4 a {
    color: #2e363a;
}

article.post.style3 .content-post h4 a:hover {
    color: #01b5fb;
}

article.post.style3 .content-post .entry-post {
    padding-left: 1px;
    margin-bottom: 19px;
}

article.post.style3 .news-button.style3 {
    font-weight: 600;
    letter-spacing: 0.8px;
    padding-left: 5px;
}

article.post.style3 .news-button.style3 a {
    color: #01b5fb;
    line-height: 28px;
    position: relative;
}

article.post.style3 .news-button.style3 a:after {
    content: "\f30f";
    font-size: 18px;
    font-family: "Ionicons";
    position: absolute;
    right: -20px;
    color: #01b5fb;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article.post.style3 .news-button.style3 a:hover:after {
    right: -30px;
}

/* Flat News Post Style4
-------------------------------------------------------------- */
article.post.style4 {
    background-color: transparent;
    width: auto;
    float: none;
    padding: 0 0;
}

article.post.style4 .featured-post ul.post-date {
    left: 46px;
}

article.post .content-post {
    padding: 33px 30px 20px 30px;
    /*box-shadow: 0px -7px 6px #00000026;*/
}

/* Services widget
-------------------------------------------------------------- */
.one-half {
    /*width: 50%;*/
    float: left;
}

.wrap-one-half.services .one-half.v1 {
    padding: 0 17px 0 0;
}

.wrap-one-half.services .one-half.v2 {
    padding-right: 0;
}

.wrap-one-half.services .one-half {
    padding: 0 15px;
}

.wrap-one-half.services {
    margin: 0 -15px;
    padding-left: 45px;
    padding-right: 47px;
    overflow: hidden;
}

.box-content .title {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    margin: 9px 0;
}

.box-content .flat-list li {
    position: relative;
    padding-left: 25px;
    line-height: 30px;
}

.box-content .flat-list li:before {
    content: "\f00c";
    font-family: "FontAwesome";
    color: #01b5fb;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    padding-top: 1px;
    line-height: normal;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.flexslider .flex-direction-nav a {
    opacity: 0;
    color: transparent;
    text-shadow: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.flexslider:hover .flex-direction-nav a {
    opacity: 0.7;
}

.flexslider.s1 {
    margin: 4px 3px 87px 5px;
}

.flexslider {

    background: #fff;
    border: 4px solid #fff;
    position: relative;
    border-radius: 4px;
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

/* about v1
-------------------------------------------------------------- */
.wrap-main-post.about-v1 {
    padding: 0 10px 0 30px;;
}

.about-v1 .entry .feature-post {
    display: inline-block;
    float: left;
    margin: 0 31px 0 0;
}

.flex-viewport li.clone {
    width: auto !important;
}

.content-post .position {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 0;
    color: #999999;
}

.content-post .title-post {
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #222;
}

/* about v3
-------------------------------------------------------------- */
.wrap-main-post.about-v3 {
    padding: 0 29px 0 30px;;
}

.flexslider.s2 {
    margin-bottom: 119px;
}

.flexslider .flex-direction-nav li a:before {
    content: "\f053";
    font-family: "FontAwesome";
    font-size: 15px;
    color: #ffffff;
    left: 13px;
    position: absolute;
}

.flexslider .flex-direction-nav li a.flex-next:before {
    content: "\f054";
}

.flat-text-block-timeline {
    margin-bottom: 46px;
}

.flat-text-block-timeline .year {
    font-size: 23px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #01b5fb;
    margin-bottom: 38px;
    position: relative;
}

.flat-text-block-timeline .year:after {
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 90px;
    height: 1px;
    background-color: #dfdfdf;
    content: "";
}

.flat-text-block-timeline .flat-timeline-content {
    padding-left: 90px;
}

.flat-timeline-content .box-content .title {
    margin: 9px 0;
}

/* contact v1
-------------------------------------------------------------- */
.contact-info .info {
    margin-bottom: 42px;
}

.contact-info .info .title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 7px;
    color: #222;
}

.flat-form-info {
    margin: 0 -10px;
}

.form-info .one-half {
    padding: 0 10px;
}

.form-info p {
    position: relative;
}

.form-info label.error {
    position: absolute;
    right: 10px;
    top: 13px;
    color: #01b5fb;
}

.form-info input[type="text"],
.form-info input[type="email"],
.form-info input[type="phone"],
.form-info textarea {
    background-color: #f7f7f7;
    font-size: 14px;
    color: #c1c1c1;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    margin-bottom: 10px;
}

.form-info input:focus,
.form-info textarea:focus {
    border: 1px solid #01b5fb;
}

.form-info input {
    height: 50px;
    width: 100%;
    border-radius: 0;
}

.form-info textarea {
    height: 225px;
    padding: 15px 0 0 15px;
}

.form-info button.submit {
    color: #fff;
    letter-spacing: 2px;
    font-size: 13px;
    height: 45px;
    width: 100%;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.form-info button.submit:hover {
    background-color: #2e363a;
    border-color: #2e363a;
    color: #fff;
}

.flat-alert.msg-success {
    text-align: center;
    margin-bottom: 10px;
}


/* Parallax
-------------------------------------------------------------- */
.parallax {
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 0;
}

.parallax1 {
    background-image: url(../images/parallax/bg-parallax1.jpg);
    background-repeat: no-repeat;
}

.parallax2 {
    background-image: url(../images/parallax/bg-parallax2.jpg);
    background-size: cover;
}

.parallax3 {
    background-image: url(../images/parallax/bg-parallax3.png);
    background-size: cover;
}

.parallax.overlay-s1 .overlay-parallax {
    background-color: #333333;
    opacity: 0.8;
}

.parallax .overlay-parallax {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* padding section */
.pd-imagebox-s3 {
    padding: 100px 0;
}

.flat-imagebox.style2 {
    padding: 50px 0 50px;
}

.pd-portfolio-s1 {
    padding: 49px 0 74px;
}


.pd-portfolio-s2 {
    padding: 49px 0 72px;
}

.pd-portfolio-s3 {
    padding: 49px 0 70px;
}

.pd-services-post {
    padding: 60px 0 41px;
}

.pd-services-widget {
    padding: 50px 0 49px;
}

.pd-about-post {
    padding: 50px 0 113px;
}

.pd-aboutv3 {
    padding: 50px 0 49px;
}

.pd-about-team {
    padding: 59px 0 90px;
}

.pd-contact-v1 {
    /*padding: 100px 0 90px;*/
    padding: 100px 0 0px;
}

.pd-contact-v2 {
    padding: 40px 0 58px;
}

.pd-title-section {
    padding: 59px 0 0;
}

.dividers {
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.blog-single-post {
    margin: 50px 0 39px;
}

.dividers-pagination {
    height: 40px;
}

.dividers.portfolio {
    height: 42px;
}

.dividers.dividers-imagebox {
    height: 79px;
}

.dividers.dividers-imagebox.v1 {
    height: 81px;
}

.dividers.dividers-bc-v1 {
    height: 24px;
}

.dividers.dividers-bc-v2 {
    height: 44px;
}

.dividers.dividers-bc-v3 {
    height: 20px;
}

.dividers.dividers-bc-v4 {
    height: 50px;
}

.dividers.dividers-about-post {
    height: 115px;
}

.dividers.dividers-about-team {
    height: 61px;
}

.services .content-post {
    height: 250px;
}

.services .content-post .entry-post .more-link {
    position: absolute;
    bottom: 10px;
}

/* Mobile navigation
---------------------------------------- */
#mainnav-mobi {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #1d2738;
    z-index: 1000;
    position: absolute;
}

#mainnav-mobi ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainnav-mobi ul li {
    margin: 0;
    position: relative;
    text-align: left;
    border-top: 1px solid #2d374a;
    cursor: pointer;
}

.inquiry input, .inquiry select {
    height: 40px;
}

#mainnav-mobi ul > li > a {
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
}

#mainnav-mobi ul.sub-menu {
    top: 100%;
    left: 0;
    z-index: 2000;
    position: relative;
    background-color: #1d2738;
}

#mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
    border-top: 1px solid #2d374a;
    background-color: #1d2738;
}

#mainnav-mobi > ul > li > ul > li > ul > li a {
    padding-left: 45px !important;
}

#mainnav-mobi ul.sub-menu > li > a {
    display: block;
    text-decoration: none;
    padding: 0 30px;
    border-top-color: rgba(255, 255, 255, .1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
    border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
    color: #fff;
}

.btn-menu {
    display: none;
    float: right;
    position: relative;
    background: transparent;
    cursor: pointer;
    margin: 38px 0px 38px 20px;
    width: 26px;
    height: 16px;
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after,
.btn-menu span {
    background-color: #01b5fb;
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.btn-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%;
}

.btn-menu:before {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0);
}

.btn-menu.active span {
    opacity: 0;
}

.btn-menu.active:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
    position: absolute;
    right: 20px;
    top: 0;
    font: 20px/50px 'FontAwesome';
    text-align: center;
    cursor: pointer;
    width: 70px;
    height: 44px;
}

.btn-submenu:before {
    content: "\f107";
    color: #fff;
}

.btn-submenu.active:before {
    content: "\f106";
}

.btn-menu {
    display: none;
}


/* GoTop
-------------------------------------------------------------- */
.go-top {
    position: fixed !important;
    right: -35px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

}

.go-top.show {
    right: 15px;
    bottom: 15px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.go-top i {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 3px;
    line-height: 2.5;
}

.go-top:hover {
    background-color: #01b5fb;
}

.go-top:hover i {
    color: #fff;
}


/* Preloader
-------------------------------------------------------------- */
.preloader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.clear-loading {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.loading-effect-2 {
    width: 100px;
    height: 100px;
}

.loading-effect-2 > span,
.loading-effect-2 > span:before,
.loading-effect-2 > span:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #01b5fb;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loading-effect-2 > span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left-color: transparent;
    -webkit-animation: effect-2 2s infinite linear;
    -moz-animation: effect-2 2s infinite linear;
    -ms-animation: effect-2 2s infinite linear;
    -o-animation: effect-2 2s infinite linear;
    animation: effect-2 2s infinite linear;
}

.loading-effect-2 > span:before {
    width: 75%;
    height: 75%;
    border-right-color: transparent;
}

.loading-effect-2 > span:after {
    width: 50%;
    height: 50%;
    border-bottom-color: transparent;
}

@-webkit-keyframes effect-2 {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes effect-2 {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Switcher
-------------------------------------------------------------- */
.switcher-container {
    position: fixed;
    right: -220px;
    top: 137px;
    width: 220px;
    background-color: #000;
    z-index: 99999999;
}

.switcher-container h2 {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    padding-left: 45px;
    padding-right: 0;
    margin: 0;
}

.switcher-container h2 a {
    background-color: #000;
    display: block;
    position: absolute;
    left: -45px;
    top: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    outline: 0;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.switcher-container h2 a.active {
    left: 0;
}

.switcher-container h2 a.active:after {
    position: absolute;
    right: 21px;
    top: 0;
    content: "\f105";
    font-family: "FontAwesome";
    color: #01b5fb;
    font-size: 22px;
}

.switcher-container h2 a.active i {
    display: none;
}

.switcher-container h2 a:hover,
.switcher-container h2 a:focus {
    text-decoration: none;
}

.switcher-container h2 i {
    margin-top: 10px;
    font-size: 25px;
    color: #01b5fb;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.switcher-container h2 i:hover {
    color: #fff;
}

.switcher-container h3 {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 22px;
    margin-bottom: 10px;
}

.switcher-container .selector-box {
    color: #fff;
    overflow: hidden;
}

.switcher-container .layout-switcher {
    margin: 0 0 10px 0;
    overflow: hidden;
}

.switcher-container .layout-switcher a.layout {
    float: left;
    display: block;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    padding: 10px 20px;
    margin-left: 10px;
}

.switcher-container .layout-switcher a.layout:first-child {
    margin-left: 0;
}

.switcher-container .layout-switcher a.layout:hover {
    color: #fff;
    cursor: pointer;
}

.switcher-container .color-box {
    height: auto;
    overflow: hidden;
    margin-bottom: 6px;
}

.switcher-container .styleswitch {
    margin-bottom: 10px;
}

.sw-odd {
    background-color: #272727;
    padding: 21px 0 30px 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sw-even {
    background-color: #191919;
    padding: 21px 0 25px 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sw-even a {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    letter-spacing: 1.8px;
}

.sw-even a:hover {
    background-color: #32bfc0;
    border: 1px solid #32bfc0;
    color: #fff !important;
}

.sw-light {
    background-color: #fff;
    color: #000 !important;
}

.sw-odd a {
    font-size: 16px;
    color: #fff;
    width: 100%;
    display: inline-block;
    line-height: 17px;
    width: 100%;
    position: relative;
    padding-left: 47px;
}

.sw-odd .ws-colors a:before {
    background: none;
}

.sw-odd .ws-colors a {
    position: relative;
    width: auto;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: #333;
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
}

.sw-odd .ws-colors a.current:before {
    position: absolute;
    left: 8px;
    top: 6px;
    font-family: FontAwesome;
    content: "\f00c";
    color: #fff;
    z-index: 999;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.btn-default {
    background-color: #efefef;
}

.sw-odd .ws-colors #color1 {
    background-color: #01b5fb;
}

.sw-odd .ws-colors #color2 {
    background-color: #247fe1;
}

.sw-odd .ws-colors #color3 {
    background-color: #f87b27;
}

.sw-odd .ws-colors #color4 {
    background-color: #e33062;
}

.sw-odd .ws-colors #color5 {
    background-color: #29c2e1;
}

.sw-odd .ws-colors #color6 {
    background-color: #9b23ea;
}

.sw-odd #color2 {
    background-color: #333;
}

.sw-odd .ws-colors a#color2:after {
    border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #ff5f2e;
}

.sw-odd #color3 {
    background-color: #333;
}

.sw-odd .ws-colors a#color3:after {
    border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #30a9de;
}

.sw-odd #color4 {
    background-color: #333;
}

.sw-odd .ws-colors a#color4:after {
    border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #d9e1e8;
}

.sw-odd #color5 {
    background-color: #333;
}

.sw-odd .ws-colors a#color5:after {
    border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #090707;
}

.sw-odd #color6 {
    background-color: #333;
}

.sw-odd .ws-colors a#color6:after {
    border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #79bd9a;
}

.sw-even h3 {
    margin-bottom: 6px;
}

/* Pattern */
.sw-pattern.pattern {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    top: 98%;
    background-color: #000000;
    width: 100%;
    z-index: -1;
    padding: 20px 0 30px 20px;
}

.sw-pattern.pattern a {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.sw-pattern.pattern a.current:before {
    position: absolute;
    left: 12px;
    top: 6px;
    font-family: FontAwesome;
    content: "\f00c";
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

/*switcher image*/
.sw-odd .sw-image {
    padding: 0 20px 15px 0;
}

.sw-odd .sw-image a {
    padding: 0;
    margin-bottom: 5px;
}

.sw-odd .sw-image .sw-buy {
    width: 100%;
    border: none;
    background: #6f9a37;
    position: relative;
    height: 35px;
    line-height: 37px;
    border-radius: 0;
}

.sw-odd .sw-image .sw-buy:before {
    content: "\f07a";
    font-family: "FontAwesome";
    color: #fff;
    position: absolute;
    left: 20%;
    top: -1px;
}

.sw-odd .sw-image .sw-buy:hover {
    background: #2e363a;
}

.tabbed {
    margin: 50px auto 0px;
}

.tabbed > input {
    display: none;
}

.tabbed > label {
    display: block;
    float: left;
    padding: 0px;
    margin-right: 5px;
    cursor: pointer;
    width: 19.5%;
    transition: background-color .3s;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
    /*background: #4EC6DE;*/
}

.submission .col-md-4 img {
    margin: auto;
}

.btn-do {
    /*background: #103b68;*/
    background: #2384e9;
    color: #ffffff !important;
    width: 100%;
    padding: 15px 12px;
    margin-top: 50px;
    font-size: 22px;
    border-radius: 50px;
}

.btn-do:hover {
    background: #0f5ba9;
}

.tabs ul, .toggle-content li {
    list-style: inside;
}

.tabs ul ul {
    margin-left: 20px;
    list-style: revert;
}

ul .fin_ser li {
    list-style: circle;
    margin-left: 40px;
}

.calc_icon {
    width: 40px;
}

.btn-inquiry {
    background: #4b6c8d;
    color: #ffffff;
    margin-right: 30px;
}

#contactform .one-half {
    width: 50%;
}

.btn-inquiry:hover {
    background: #3a526a;
    color: #ffffff;
}

.inquiry_btn {
    background: #2a58d9 !important;
}

.inquiry_btn:hover {
    background: #002a9d !important;
}

.apply_btn {
    background: #3bb03b !important;
}

.apply_btn:hover {
    background: #077a07 !important;
}

li.item {
    list-style-type: none;
}

.owl-nav {
    display: none;
}

.owl-carousel .owl-item img {
    width: 80%;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.tabs {
    clear: both;
    perspective: 600px;
    margin-bottom: 170px;
}

ul.menu li a img {
    width: 22px;
    margin-right: 3px;
    margin-top: -3px;
}

.tess {
    text-align: left;
    float: right;
    font-size: 11px;
    line-height: 0.8;
}

.tabs > div {
    position: absolute;
    border: 2px solid #4EC6DE;
    padding: 30px;
    line-height: 1.4em;
    width: 100%;
    opacity: 0;
    transform: rotateX(-20deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
    z-index: 0;
}

@-webkit-keyframes scroll {
    100% {
        background-position: -3000px 300px;
    }
}

.toggle-content .nav-tabs {
    border: none;
}

input.fsc-input, input#sameasbusiness, input#directpay, input#samemail, input[type=checkbox] {
    height: auto;
    width: auto;
    margin-right: 5px;
}

input#sameasbusiness, input#directpay, input#samemail {
    margin-right: 10px;
}

.common-form .table > tbody > tr > td {
    border: none;
}

.common-form .table > thead > tr > th {
    border-top: none;
}

tr th {
    font-weight: bold;
}

ul.nav.nav-pills li {
    width: 33%;
    text-align: center;
    background: #e5e5e5;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs li {
    list-style: none;
    width: 33%;
    padding: 10px;
    border: 1px solid;
    margin-bottom: 10px;
    text-align: center;
}

.login .nav-tabs {
    border: none;
}

a {
    cursor: pointer;
}

a.btn.btn-primary.pull-right {
    color: #ffffff;
}

.login .nav-tabs li {
    width: 25%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    text-align: center;
}

.sub-title {
    background: #1265BD;
    padding: 10px 20px;
    position: relative;
    font-size: 15px;
    color: #ffffff;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ .tabs > div:nth-of-type(5) {
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .tabbed {
        width: 400px;
    }

    .tabbed > label {
        display: none;
    }

    .tabs > div {
        width: 400px;
        border: none;
        padding: 0;
        opacity: 1;
        position: relative;
        transform: none;
        margin-bottom: 60px;
    }

    .tabs > div h2 {
        border-bottom: 2px solid #4EC6DE;
        padding-bottom: .5em;
    }
}